[Unit]
Description=Google Compute Engine Shutdown Scripts
Before=shutdown.target reboot.target
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/google_metadata_script_runner shutdown
Type=oneshot
StandardOutput=journal+console

[Install]
WantedBy=shutdown.target reboot.target
