[Unit]
Description=Google Compute Engine Shutdown Scripts
Before=shutdown.target reboot.target
DefaultDependencies=no  # Don't depend on sysinit or conflict reboot.target.

[Service]
ExecStart=/usr/bin/google_metadata_script_runner shutdown
Type=oneshot
StandardOutput=journal+console

[Install]
WantedBy=shutdown.target reboot.target
